openapi: 3.0.3

info:
  title: Notification Service - Template APIs
  description: Template management and rendering APIs for Notification Service
  version: 1.0.0

servers:
  - url: http://localhost:8098/notify-srv/api/v1

tags:
  - name: Notifications
    description: Notification sending and scheduling

  - name: Templates
    description: Template management and rendering


paths:

  /notifications:
    post:
      tags: [Notifications]
      summary: Send notification immediately
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendNotificationRequest"
      responses:
        "202":
          description: Notification accepted for sending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationResponse"
        "400":
          description: Invalid request
        "500":
          description: Something went wrong on server
    get:
      tags: [Notifications]
      summary: List notifications with optional filters
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [pending, sent, failed, scheduled, sending]
        - name: channel
          in: query
          required: false
          schema:
            type: string
            enum: [email, slack, in_app]
      responses:
        "200":
          description: List of notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NotificationFullResponse"
        "500":
          description: Something went wrong on server

  /notifications/schedule:
    post:
      tags: [Notifications]
      summary: Schedule notification for later delivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleNotificationRequest"
      responses:
        "202":
          description: Notification scheduled successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationResponse"
        "400":
          description: Invalid request
        "500":
          description: Something went wrong on server

  /notifications/{id}/status:
    get:
      tags: [Notifications]
      summary: Get notification by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Notification details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationFullResponse"
        "400":
          description: Invalid notification ID
        "404":
          description: Notification not found
        "404":
          description: record not found for given id
        "500":
          description: Something went wrong on server
    
  /notifications/{id}/initiate:
    get:
      tags: [Notifications]
      summary: Get notification by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "202":
          description: Trigger the process
        "400":
          description: Invalid notification ID
        "404":
          description: Notification not found
        "500":
          description: Something went wrong on server

  /templates:
    post:
      tags: [Templates]
      summary: Create a user-defined template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTemplateRequest"
      responses:
        "201":
          description: Template created successfully
        "400":
          description: Invalid request
        "409":
          description: Conflict duplicate record found
        "403":
          description: operation not permitted
        "500":
          description: Something went wrong on server
    
    get:
      tags: [Templates]
      summary: List all versions of a template
      parameters:
        - name: channel
          in: query
          required: false
          schema:
            type: string
            enum: [email, slack, in_app]
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [system, user]
        - name: name
          in: query
          required: false
          schema:
            type: string
            value: custom_template
        - name: is_active
          in: query
          required: false
          schema:
            type: boolean
            example: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: List of templates with active version
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Template"
        "500":
          description: Something went wrong on server

  /templates/{id}:
    get:
      tags: [Templates]
      summary: Fetch template details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            example: 1
      responses:
        "200":
          description: Fetch template details
          content:
            application/json:
              schema:
                  $ref: "#/components/schemas/Template"
        "400":
          description: Invalid request
        "404":
          description: record not found for given id
        "500":
          description: Something went wrong on server

  /templates/{id}/render:
    post:
      tags: [Templates]
      summary: Render a template (preview)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenderTemplateRequest"
      responses:
        "200":
          description: Rendered template output
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "400":
          description: Invalid request
        "404":
          description: record not found for given id
        "500":
          description: Something went wrong on server

components:

  parameters:
    Channel:
      name: channel
      in: path
      required: true
      schema:
        type: string
        enum: [email, slack, in_app]

    TemplateName:
      name: name
      in: path
      required: true
      schema:
        type: string
        example: custom_welcome

  schemas:
    CreateTemplateRequest:
      type: object
      required: [name, channel]
      properties:
        name:
          type: string
          example: custom_welcome
        description:
          type: string
          example: User welcome email
        channel:
          type: string
          enum: [email, slack, in_app]
        subject:
          type: string
          example: Welcome {{.UserName}}
        body:
          type: string
          example: Hi {{.UserName}}, welcome to {{.AppName}}!

    RenderTemplateRequest:
      type: object
      required: [template_key_value]
      properties:
        template_key_value:
          type: object
          additionalProperties: true
          example:
            UserName: Kshitij
            AppName: NotifyX

    Template:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: custom_welcome
        description:
          type: string
          example: User welcome email
        channel:
          type: string
          enum: [email, slack, in_app]
        type:
          type: string
          enum: [system, user]
        is_active:
          type: boolean
          example: 1
        subject:
          type: string
          nullable: true
          example: Welcome {{.UserName}}
        body:
          type: string
          example: Hi {{.UserName}}, welcome to {{.AppName}}!
        created_at:
          type: string
          format: date-time
          example: "2026-01-14T10:12:45Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-01-14T10:15:02Z"

    SendNotificationRequest:
      type: object
      required:
        - channel
        - template_id
        - recipient
        - template_key_value
      properties:
        channel:
          type: string
          enum: [email, slack, in_app]
        template_id:
          type: integer
          format: int64
          example: 12
        recipient:
          type: object
          additionalProperties:
            type: string
          example:
            email: user@example.com
        template_key_value:
          type: object
          additionalProperties: true
          example:
            UserName: Kshitij

    ScheduleNotificationRequest:
      allOf:
        - $ref: "#/components/schemas/SendNotificationRequest"
        - type: object
          required:
            - scheduled_at
          properties:
            scheduled_at:
              type: string
              format: date-time
              example: "2026-01-15T10:00:00Z"

    NotificationResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 101
        status:
          type: string
          example: scheduled
      
    NotificationFullResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 101
        channel:
          type: string
          enum: [email, slack, in_app]
        template_id:
          type: integer
          format: int64
          example: 12
        recipient:
          type: object
          additionalProperties:
            type: string
          example:
            email:
        template_key_value:
          type: object
          additionalProperties: true
          example:
            UserName: Kshitij
        status:
          type: string
          example: sent
        scheduled_at:
          type: string
          format: date-time
          example: "2026-01-15T10:00:00Z"
        sent_at:
          type: string
          format: date-time
          example: "2026-01-15T10:05:00Z"
        created_at:
          type: string
          format: date-time
          example: "2026-01-14T10:12:45Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-01-14T10:15:02Z"


